{% extends "index.html" %}

{% block content %}
<article class="post">
    <a href="javascript:history.back()">&#60-Back to Last Page</a>
    <header>
        <h1>404: wHaT?!</h1>
    </header>
    <div class="content">
        Looks like Jackie Chan can't find the page you're looking for. He doesn't deal with 404s too well.
    </div>
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⣠⣴⣶⣶⣶⣶⣶⣦⣤⣀⠀⠀⠀⠀⡀⠲⠶⠂⠸⠢⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⢈⠍⡤⠰⠥⢳⠀⣀⣴⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣦⣄⣈⠚⠓⠂⢄⡀⠀⠓⢄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠠⢁⠤⠊⠀⢀⡴⠯⢝⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣷⣍⠐⠄⠀⠈⠐⢄⠈⡆⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⡐⡑⠁⠀⡠⠐⠁⢀⣤⣾⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣧⠀⠀⠀⠀⠀⠄⠰⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⡘⠠⠁⠀⠊⠀⠀⣠⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡉⠋⠁⠂⢐⡀⠀⠀⠀⢃⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⡠⡡⠁⠐⠁⠀⠀⣼⡿⠛⠫⠍⣿⣿⠉⠹⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣶⣦⣄⠀⠀⠀⠀⠀⠈⢆⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⡔⠁⠀⠀⠀⠀⠀⠚⠁⠀⣠⣴⣾⡿⠙⠆⠀⠈⠉⠙⠿⣿⣿⣿⣿⣿⣿⡿⣿⣿⣿⣿⣿⣿⠑⡀⠀⠀⠀⠀⠀⠣⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⡘⠀⠀⠀⠀⠀⠀⠀⠀⣠⣾⣿⣿⠟⠀⠀⠀⣶⣶⣤⣤⡄⢸⠉⡏⠙⣪⣩⣤⣶⡄⢹⣿⣿⣿⠀⠙⡄⠀⠀⠀⠀⠀⢡⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⡐⠀⠀⠀⠀⠀⠀⠀⢀⣾⣿⣿⣿⠏⠀⠀⡐⠀⢀⣤⣊⣉⠓⢁⠤⠵⠔⣉⣭⡭⣒⠄⡄⣿⣿⣿⠀⠑⠇⠀⠀⠀⠀⠀⠀⠑⡄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⡘⠀⠀⠀⠀⠀⠀⠀⢠⣿⣿⣿⣿⣿⠀⠀⠀⠀⠀⠞⠛⣛⡹⠀⡘⠀⠈⠢⠩⠭⠉⠉⠁⠀⣿⣿⡏⠀⠀⠈⠀⠀⠀⠀⠀⠀⠀⠈⠂⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠔⠀⠀⠀⠀⠀⠀⠀⠀⠌⢸⣿⣿⣿⣿⠀⠀⠀⠀⠀⠀⠀⢀⠤⠀⡀⠀⠀⠀⠠⡀⠀⠀⠀⠀⣿⣿⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠑⠄⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠌⠀⠀⢿⡟⠉⠻⠀⠀⠀⠀⠀⠀⠀⠀⠀⡠⠃⠀⠀⠀⠇⠀⠀⠀⠀⠀⡟⡇⠀⠀⠀⠀⠀⠀⠈⠢⠀⠀⠀⠀⠀⠀⠀⠠⡀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⡰⣉⠑⠀⠀⠀⠀⠀⠀⠀⢀⠀⠐⠁⠀⠀⠀⠈⣇⠣⠇⠀⠀⠀⠀⠀⠀⠀⠀⠈⠡⠒⠢⠠⠐⠢⠁⠀⠀⠀⠀⠆⠇⠀⠀⠀⠀⠀⠀⠀⠀⠱⡀⠀⠀⠀⠀⠀⠀⠀⠀⠐⠂⠒⡄⠀⠀
⠀⠀⡰⠀⠀⡑⠀⠀⠀⠀⠀⠀⢀⠂⠀⠀⠀⠀⠀⠀⠀⠸⣦⣀⡀⠀⠀⠀⠀⠀⠀⠀⠠⠂⢀⣀⣀⣀⠀⠀⠂⠀⠀⢠⠃⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠡⠀⠀⠀⠀⠀⣀⣀⣀⠠⠔⠊⢣⠀
⡠⠊⠀⠀⠰⡁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢿⡿⠃⠀⠀⠀⠀⠀⠀⠀⠁⠠⠥⠒⠖⠂⠡⠀⠀⠀⠀⡜⠢⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢃⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠱⡀
⠀⠀⠀⠀⠀⠑⠢⠤⠀⠀⠠⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⣀⠸⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⠐⠒⠊⠀⠀⠀⢀⡎⠀⠀⠐⢄⠀⠀⢀⠤⢄⡀⠀⠀⠀⢘⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠘
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠁⠀⠀⢀⣀⡀⢀⠤⠤⠤⠄⠊⠀⠇⠀⠑⠄⡀⠀⠀⠀⠀⠀⠀⠀⠒⠁⠒⠀⠀⢀⠎⠇⠀⠀⠀⠀⡓⠊⠀⠀⠀⠈⠑⠒⠉⠀⠇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⡅⠉⠉⠀⠀⠈⠑⠀⠀⠀⠀⠀⠸⠀⠀⠀⠀⠈⠢⠠⢀⣀⡀⠀⠀⠀⠀⠀⢀⠔⠁⢀⣄⠀⠀⠀⠰⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠱⡀⠀⠀⠀⠀⠈⡆⠀⠈⠉⠑⠒⠒⠒⠁⠀⡠⠺⠀⠑⢄⣀⠃⠀⠀⠀⠀⠀⠀⠆⠀⠀⠀⠀⢇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⢠⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⠢⢄⠀⠀⠀⡧⠤⠤⠤⠤⠄⠄⠐⠒⠉⠀⠇⠀⠀⠀⠀⠉⡆⠀⠀⠀⠀⠀⠘⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠂⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠉⠐⠀⠣⡄⠀⠀⠀⠀⠀⠀⠀⠀⢸⠀⠀⠀⠀⠀⠀⠁⠀⠀⠀⠀⠀⠀⢁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
</article>
{% endblock content %}