{% import "macros/page.html" as page_macros %}
{% extends "base.html" %}

{% block content %}
<head>
<link rel="apple-touch-icon" sizes="180x180" href="{{ get_url(path="static/favicon/apple-touch-icon.png") }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ get_url(path="static/favicon/favicon-32x32.png") }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ get_url(path="static/favicon/favicon-16x16.png") }}">
<link rel="manifest" href="{{ get_url(path="static/favicon/site.webmanifest") }}">
<link rel="mask-icon" href="{{ get_url(path="static/favicon/safari-pinned-tab.svg") }}" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">
</head>

<main id="main" class="index" tabindex="-1">
    {% set section = get_section(path="_index.md") %}
    <section class = landing-text>
            {{ section.content | safe }}
        <!-- <h1>
            👋 Hey There!
            {{ section.title}}
        </h1>
        <p>
            Welcome to my site!
        </p> -->
    </section>

    <section class="index-columns">
        <section class="index-listing">
            <h2>
                Recent projects
            </h2>
            {% set section = get_section(path="projects/_index.md") %}
            {% for page in section.pages | slice(end=config.extra.home.post_number) %}
            {{ page_macros::project_listing(page=page) }}
            {% endfor %}
            <p class="read-more"><a href="projects/">more projects ≫</a></p>
        </section>
        <section class="index-listing">
            <h2>
                Recent posts
            </h2>
            {% set section = get_section(path="blog/_index.md") %}
            {% for page in section.pages | slice(end=config.extra.home.post_number) %}
            {{ page_macros::page_listing(page=page) }}
            {% endfor %}    
            <p class="read-more"><a href="blog/">more blog posts ≫</a></p>
        </section>
    </section>
</main>
{% endblock content %}
